* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

html {
  background-color: rgb(24, 25, 26);
  font-family: "Segoe UI Historic", "Segoe UI", Helvetica, Arial, sans-serif;
  color: rgb(228, 230, 235);
  margin: 0px;
}

a {
  color: rgb(69, 153, 255);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

header {
  background-color: rgb(36, 37, 38);
  border-bottom: 1px solid rgba(255, 255, 255, 20%);
  box-shadow: 0 2px 7px 0 rgb(0 0 0 / 20%);
  box-shadow: 0 -1px 8px #000;
  /* position: -webkit-sticky; */
  position: sticky;
  top: 0px;
}

header h1 {
  position: absolute;
  left: 6%;
  margin: 6px 0px;
}

.main-nav {
  text-align: center;
  padding: 20px;
}

.main-nav li {
  display: inline-block;
}

.main-nav a {
  border: 1px solid rgb(255, 255, 255, 20%);
  border-radius: 8px;
  padding: 8px;
  margin: 8px;
  text-decoration: none;
}

.main-nav a:hover {
  border: 1px solid;
  border-radius: 8px;
  box-shadow: 0 0 7px 2px rgb(0 0 0 / 20%);
}

article {
  background-color: rgb(36, 37, 38);
  box-shadow: 0 0 7px 2px rgb(0 0 0 / 20%);
  border-radius: 8px;
  margin: 2% 25%;
  padding: 1em;
}

article p {
  padding-top: 0.5em;
}

footer {
  background-color: rgb(36, 37, 38);
  border-top: 1px solid rgba(255, 255, 255, 20%);
  box-shadow: 0 -2px 7px 0px rgb(0 0 0 / 20%);
  text-align: center;
}

footer p {
  padding: 1em;
}